@tailwind base;
@tailwind components;
@tailwind utilities;

.h-screen-svh {
  height: 100vh;
  height: 100svh;
}

.min-h-screen-svh {
  min-height: 100vh;
  min-height: 100svh;
}

body {
  background-color: rgb(206, 206, 206)
}